body {
    background-color: lightgrey;
}

.blue {
    background-color: paleturquoise;
    font-weight: bold;
}

.grey1 {
    background-color: lightgrey;
}

.grey2 {
    background-color: grey;
}

td {
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;

}

table {

    border-collapse: collapse;
}